@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?22ko7g');
	src:url('../fonts/icomoon.eot?#iefix22ko7g') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?22ko7g') format('truetype'),
		url('../fonts/icomoon.woff?22ko7g') format('woff'),
		url('../fonts/icomoon.svg?22ko7g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ac:before {
	content: "\e627";
}
.icon-ap:before {
	content: "\e628";
}
.icon-bras:before {
	content: "\e629";
}
.icon-computer:before {
	content: "\e62a";
}
.icon-WLAN:before {
	content: "\e600";
}
.icon-VPDN:before {
	content: "\e601";
}
.icon-VOIP:before {
	content: "\e602";
}
.icon-netschool:before {
	content: "\e603";
}
.icon-nethome:before {
	content: "\e604";
}
.icon-narrow:before {
	content: "\e605";
}
.icon-IPTV:before {
	content: "\e606";
}
.icon-greennet:before {
	content: "\e607";
}
.icon-foreG:before {
	content: "\e608";
}
.icon-threeG:before {
	content: "\e609";
}
.icon-hdqk:before {
	content: "\e60a";
}
.icon-wlsbqk:before {
	content: "\e60b";
}
.icon-vipqk:before {
	content: "\e60c";
}
.icon-sjkqk:before {
	content: "\e60d";
}
.icon-fwqqk:before {
	content: "\e60e";
}
.icon-ywqk:before {
	content: "\e60f";
}
.icon-glmh:before {
	content: "\e610";
}
.icon-gxsjk:before {
	content: "\e611";
}
.icon-ncsjk:before {
	content: "\e612";
}
.icon-radius:before {
	content: "\e613";
}
.icon-rzjf:before {
	content: "\e614";
}
.icon-ocs:before {
	content: "\e615";
}
.icon-myzf:before {
	content: "\e616";
}
.icon-wlan:before {
	content: "\e617";
}
.icon-wlanac:before {
	content: "\e618";
}
.icon-message:before {
	content: "\e619";
}
.icon-ywsl:before {
	content: "\e61a";
}
.icon-fcjk:before {
	content: "\e61b";
}
.icon-hdcx:before {
	content: "\e61c";
}
.icon-fzjh:before {
	content: "\e61d";
}
.icon-fhq:before {
	content: "\e61e";
}
.icon-attention:before {
	content: "\e61f";
}
.icon-brand:before {
	content: "\e620";
}
.icon-form:before {
	content: "\e621";
}
.icon-light:before {
	content: "\e622";
}
.icon-location:before {
	content: "\e623";
}
.icon-people:before {
	content: "\e624";
}
.icon-selection:before {
	content: "\e625";
}
.icon-liuliang:before {
	content: "\e626";
}
